body{
    background-image: url("https://media.istockphoto.com/id/1132703834/vector/game-of-rock-paper-scissors.jpg?s=612x612&w=0&k=20&c=SBXdAzJMXhul_EZM-ss7Fh3SM15UVTam5iTaIBs6fjs=");
}
.main{
    margin-top: 200px;
}
h1{
    text-align: center;
}
.Buttons{
    margin-top:15%;
   margin-left:35%;
}
.LoginButton{
    padding: 5%;
    width: 200px;
}
.RegisterButton
{
    padding: 5%;
    width: 200px;
}
.registration{
    background-color: white;
    margin-top: 17%;
    margin-left: 30%;
    width:50%;
    height: 300px;
    border:1px solid black;
}
.RegisterButton{
    margin-left: 10px;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Informations{
    margin-left: 37%;
}
.btnRegister{
    margin-top: 10px;
    position:relative;
    width:85%;
}
.btnLogin
{
    margin-top: 10px;
    position:relative;
    width:85%;
}
.Informations
{
    margin-left: 10%;
}
.loginDiv{
    background-color: white;
    margin-top: 17%;
    margin-left: 30%;
    width:50%;
    height: 250px;
    border:1px solid black;
}
input{
    width:85%;
}
.gameButtons
{
    display: flex;
    margin:auto;
    flex-direction: column;
    padding-top: 10%;
    width: 40%;
}
.btnStart,.btnMe,.btnRules{
    margin:15px;
    height: 54px;
    font:50px;
}
.createOrJoin{
    margin-left: 25%;
    margin-top:5%;
    width:50%;
    background-color: white;
}
.haboutGame{
    margin-top:200px;
}
.createButton{
    margin-top:15px;
    width:85%;
}
.createGame{
    margin-left:150px;
}
.join{
    margin-left:150px;
    margin-top: 50px;
}
.btnJoin{
    margin-top:15px;
    width:85%;
}
.firstPlayerMove
{
    margin-left: 35%;
    margin-top:10%;
    margin-bottom:100px;
}
.secondPlayerMove
{
    margin-top:100px;
    margin-left: 35%;
}
.btnRock,.btnPaper,.btnScissors
{
    width:100px;
    height: 100px;
    margin:10px;
}
.paper,.rock,.scissors{
    width:100%;
    height: 100%;
}
.gameInProgress
{
    background-color: white;
}
.picksAndWinners
{
    margin-left: 35%;
    color:red;
}